<div class="view-pad">
    <app-back-button route='/commercial-invoice' text="Factura"></app-back-button>
    <div>
        
        <form>
            <h1><b>Ubicación</b></h1>

            <iframe src="https://api.maptiler.com/maps/streets/?key=sZ4W39S9t1hxOkDp3BOw#9.5/14.11828/-87.18674" ></iframe>

            <mat-form-field class="position lat" appearance="fill">
              <mat-label>Latitud</mat-label>
              <input matInput placeholder="48.5" type="text" required>
            </mat-form-field>
          
            <mat-form-field class="position" appearance="fill">
                <mat-label>Longitud</mat-label>
                <input matInput placeholder="15.43" type="text" required>
            </mat-form-field>

            <h1><b>Tarjeta</b></h1>
            

            <mat-form-field class="card" appearance="fill">
                <mat-label>Nro. Tarjeta</mat-label>
                <input matInput placeholder="1123243223" type="text" required>
            </mat-form-field>

            <mat-form-field class="position lat" appearance="fill">
                <mat-label>Vencimiento</mat-label>
                <input matInput placeholder="11/23" type="text" required>
            </mat-form-field>

            <mat-form-field class="position" appearance="fill">
                <mat-label>CVV</mat-label>
                <input matInput placeholder="344" type="text" required>
            </mat-form-field>

          </form>
          <button class="btn-invoice" type="button" mat-raised-button color="primary">Confirmar Compra</button>
    </div>
</div>
