@import 'variables';

.popular-business{
    position: relative;
    text-align: center  ;
    p{
        color: $main-color;
        font-size: 24px;
        
    }

    .business{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .pizza{
        position: absolute;
        top: 32%;
        width: 53%;
        text-align: center;
        font-size: 24px;
        color: white;
        background-color: #0000007a;
        margin-left: 35%;
    }

    .burger{
        position: absolute;
        top: 61.5%;
        width: 53%;
        text-align: center;
        font-size: 24px;
        color: white;
        background-color: #0000007a;
        margin-left: 35%;
    }
    
    .popeye{
        position: absolute;
        top: 90.6%;
        width: 53%;
        text-align: center;
        font-size: 24px;
        color: white;
        background-color: #0000007a;
        margin-left: 35%;
    }

    #bus-img{
        margin-left: -1px;
    }
}