<app-header></app-header>

<form class="login-form">
    <button class="btn-access" type="button" mat-button color="primary">Login</button>
    <button class="btn-access" type="button" mat-button color="primary">Signup</button>
    <mat-form-field class="login-full-width" appearance="fill">
      <mat-label>Correo</mat-label>
      <input matInput placeholder="myemail@gmail.com" type="email">
    </mat-form-field>
  
    <mat-form-field class="login-full-width" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="password" type="password">
    </mat-form-field>
    <a href="">Olvidé la contraseña</a>
    <button class="btn-login" type="submit" mat-raised-button color="primary">Acceder</button>
  </form>
  
