 <div class="landing-page-view">

    <app-header></app-header>
    <div class="landing-header">
        <div>
            <img src="assets/icons/landing/truck.svg" alt="">
        </div>
        <div class="branding-text">
            Pide lo que <span class="highlight">quieras</span>, <br>
            en <span class="highlight">cualquier</span> momento <br>
            <span class="highlight">al lugar</span> que desees.
        </div>
        <div>
            <button>Ver categorias</button>
        </div>
    </div>
    <div class="features">
        <div class="feature-item">
            <div><img src="assets/icons/landing/clock.svg" alt=""></div>
            <div class="feature-text" >Rápido</div>
        </div>
        <div class="feature-item">
            <div><img src="assets/icons/landing/shield.svg" alt=""></div>
            <div class="feature-text" >Seguro</div>
        </div>
        <div class="feature-item">
            <div><img src="assets/icons/landing/armchair.svg" alt=""></div>
            <div class="feature-text" >Cómodo</div>
        </div>
    </div>

    <div class="categories-trend">
        <div class="title-trend">
            <div class="title">POPULARES</div>
            <div class="line"></div>
        </div>

    </div>

    
 </div>
