<div class="view-pad business-details-header">
    <app-header></app-header>
    <app-back-button text="Restaurantes" route="/categories/business/restaurants"></app-back-button>
</div>
<div class="bg-img">
    <img src="assets/images/business/pizza-hut.png" alt="">
</div>
<div class="business-details-body">
    <div class="img-logo">
        <img src="assets/images/business/pizza-hut-logo.png" alt="">
    </div>
    <div class="title business-name">
        Pizza Hut
    </div>
    <div class="nav-group">
        <div class="nav-link">
            Nuevos
        </div>
        <div class="nav-link active">
            Populares
        </div>
        <div class="nav-link">
            Todos
        </div>
    </div>
</div>
<div class="products">
    <div class="item-list">

        <div class="item">
            <img src="assets/images/products/pizza.png" alt="">
            <div class="item-desc">
                <div class="desc">
                    <div class="name-product">
                        Pizza mixta
                    </div>
                    <div class="price">
                        L100.00
                    </div>
                </div>
                <div class="btn-add">
                    <div class="add-button">
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>