<form class="login-form">
    <mat-form-field class="login-full-width" appearance="fill">
      <mat-label>Nombre Completo</mat-label>
      <input matInput placeholder="ejem. Eduardo Lopez" type="text" required>
    </mat-form-field>
  
    <mat-form-field class="login-full-width" appearance="fill">
        <mat-label>Correo</mat-label>
        <input matInput placeholder="myemail@gmail.com" type="email" required>
    </mat-form-field>

    <mat-form-field class="login-full-width" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="password" type="password" required>
    </mat-form-field>
    <mat-form-field class="login-full-width" appearance="fill">
        <mat-label>Verificar Contraseña</mat-label>
        <input matInput placeholder="confirm password" type="password" required>
    </mat-form-field>
    <button class="btn-login" type="submit" (click)="handlerLogin()" mat-raised-button color="primary">Acceder</button>
  </form>
